@model IEnumerable<ECP_V2.Business.Repository.PhienLVModel>

<style>
    table {
        font-family: Tahoma;
        font-size: 13px;
        width: 100%;
        color: #808080;
    }

        table tr:nth-child(1) td {
            font-weight: bold;
            background: rgba(0, 0, 0, 0.1);
        }

        table tr td {
            border: 1px solid #808080;
        }

        table tr:nth-child(n+2) td {
            border-top: none;
            font-size: 12px;
        }

        table tr td:nth-child(n+2) {
            border-left: none;
        }
</style>
<div style="width: 100%;">
    <h2 style="font-family: Tahoma; color: #000; font-weight: bold;">Hệ thống ECP thông báo công việc</h2>
</div>

<div style="width: 100%;">
    <h3 style="font-family: Tahoma; color: #000; font-weight: bold;">Công việc theo kế hoạch</h3>
</div>

<table cellspacing="0">
    <tr>
        <td>
            STT
        </td>
        <td>
            Nội dung công việc
        </td>
        <td>
            Đơn vị làm công việc
        </td>
        <td>
            Địa điểm (vị trí) công tác
        </td>
        <td>
            Thời gian công tác
        </td>
        <td>
            Người duyệt, chức danh; ngày duyệt phương án, số PA
        </td>
        <td>
            Người chỉ huy trực tiếp
        </td>
        <td>
            Người giám sát ATĐ
        </td>
        <td>
            Người kiểm soát đơn vị công tác
        </td>
        <td>
            Người kiểm tra PCT; PTT; LCT
        </td>
        <td>
            Lãnh đạo đơn vị trực ban kiểm soát
        </td>
        <td>
            Thay đổi (nếu có), lý do thay đổi
        </td>
    </tr>

    <tr>
        <td>
            STT
        </td>
        <td>

        </td>
        <td>
            Đơn vị làm công việc
        </td>
        <td>
            Địa điểm (vị trí) công tác
        </td>
        <td>
            Thời gian công tác
        </td>
        <td>
            Người duyệt, chức danh; ngày duyệt phương án, số PA
        </td>
        <td>
            Người chỉ huy trực tiếp
        </td>
        <td>
            Người giám sát ATĐ
        </td>
        <td>
            Người kiểm soát đơn vị công tác
        </td>
        <td>
            Người kiểm tra PCT; PTT; LCT
        </td>
        <td>
            Lãnh đạo đơn vị trực ban kiểm soát
        </td>
        <td>
            Thay đổi (nếu có), lý do thay đổi
        </td>
    </tr>
</table>

<div style="width: 100%;">
    <h3 style="font-family: Tahoma; color: #000; font-weight: bold;">Công việc theo kế hoạch</h3>
</div>

<table cellspacing="0">
    <tr>
        <td>
            STT
        </td>
        <td>
            Nội dung công việc
        </td>
        <td>
            Đơn vị làm công việc
        </td>
        <td>
            Địa điểm (vị trí) công tác
        </td>
        <td>
            Thời gian công tác
        </td>
        <td>
            Người duyệt, chức danh; ngày duyệt phương án, số PA
        </td>
        <td>
            Người chỉ huy trực tiếp
        </td>
        <td>
            Người giám sát ATĐ
        </td>
        <td>
            Người kiểm soát đơn vị công tác
        </td>
        <td>
            Người kiểm tra PCT; PTT; LCT
        </td>
        <td>
            Lãnh đạo đơn vị trực ban kiểm soát
        </td>
        <td>
            Thay đổi (nếu có), lý do thay đổi
        </td>
    </tr>
    <tr>
        <td>
            STT
        </td>
        <td>
            Nội dung công việc
        </td>
        <td>
            Đơn vị làm công việc
        </td>
        <td>
            Địa điểm (vị trí) công tác
        </td>
        <td>
            Thời gian công tác
        </td>
        <td>
            Người duyệt, chức danh; ngày duyệt phương án, số PA
        </td>
        <td>
            Người chỉ huy trực tiếp
        </td>
        <td>
            Người giám sát ATĐ
        </td>
        <td>
            Người kiểm soát đơn vị công tác
        </td>
        <td>
            Người kiểm tra PCT; PTT; LCT
        </td>
        <td>
            Lãnh đạo đơn vị trực ban kiểm soát
        </td>
        <td>
            Thay đổi (nếu có), lý do thay đổi
        </td>
    </tr>
</table>