@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    www.kiemsoatantoan.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:duanhquy@gmail.com">duanhquy@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hotro.kiemsoatantoan@gmail.com">hotro.kiemsoatantoan@gmail.com</a>
</address>