@{
    Layout = null;
}

<link href="/Content/AdminPanel/assets/vendor/jquery-ui/css/jquery-ui-default.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Tên, quy cách</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Đơn vị tính</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Số lượng</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Nơi để</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-1 control-label" style="padding-right:0" for="inputDefault">Ghi chú</label>
            <div class="col-md-11">
                <textarea class="form-control" rows="3" data-plugin-maxlength="" maxlength="140"></textarea>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        
    });
</script>
