
<div id="modal-history" class="bootbox ChiTietLCTGA modal fade modal-darkorange in" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:1400px; width: auto; left:0px">
        <div class="modal-content" style="padding-bottom: 15px">
            <div class="modal-header">
                <h4 class="modal-title title-popup-modal">Chọn phiếu công tác bổ sung</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="font-size:40px; color:red; margin-top:-30px">×</button>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance" @*style="min-height:650px"*@>

                        <div class="form-group row" style="margin-left: 30px;margin-right:30px">
                            <select class="form-control" id="ddPCT" style="height:38px">
                            </select>

                            <div class="form-group row pt-md">
                                <div class="col-sm-12">
                                    <button type="button" id="btnCapNhatPLV" data-dismiss="modal" class="btn btn-success float-left " style="float:left"><i class="fa fa-save" style="margin-right:6px"></i>Cập nhật</button>
                                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger float-right" style="float:right"><i class="fa fa-times" style="margin-right:6px"></i>Đóng</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

