
@{
    ViewBag.Title = "GiaoKH";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<style>
    select{
        background-color:white !important;
    }
</style>

<link href="~/Scripts/select2.css" rel="stylesheet" />
<input type="text" value="@Session["baseurl"]" id="baseurl" style="display:none">
<input type="text" value="@Session["UserId"]" id="UserId" style="display:none">
<input type="text" value="@Session["UserName"]" id="UserName" style="display:none">
<input type="text" value="@Session["DonViID"]" id="DonViID" style="display:none">
<h4> <i class="fa fa-hand-o-right"> </i><font style="font-weight:bold"> Giao kế hoạch nhóm</font></h4>

<div style="margin: 3px;" class="card">
    <div style="display:inline">
        <label class="input-group-text" for="inputGroupSelect01">Chọn đơn vị</label>
    </div>
    <select class="custom-select" id="cbodonvi">
        

    </select>

    <a onclick="giao_kh.loaddata()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>Tìm kiếm</a>

</div>

<div>
    <table id="tblg_kh" class="dataTable table table-striped table-bordered table-hover" cellspacing="0" style="width: 100%!important;">
        <thead>
            <tr>
                <th style="width: 10%">Đơn vị</th>
                <th style="width: 10%">Nhóm</th>
                <th style="width: 10%">Định mức</th>
                <th style="width: 10%">Thành viên</th>
                <th style="width: 10%">Thao tác</th>
            </tr>
        </thead>
    </table>
</div>

@section scriptsAdd {

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <script src="~/Scripts/select2.js"></script>
    @*nghiệp vụ*@
    <script src="~/Scripts/KTGS/js/util.js"></script>
    <script src="~/Scripts/KTGS/js/service.js"></script>
    <script src="~/Scripts/KTGS/js/modal_adduser.js"></script>
    <script src="~/Scripts/KTGS/js/giao_kh.js"></script>
    
}
<style>
    select {
        display: inline !important;
    }

    .body-content {
        background-color: #ffffff;
    }

    .imgthump {
        height: 128px;
        width: 128px;
        padding: 2px;
        background-color: #cecece;
    }
</style>

