
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_LayoutAdminIndex.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Tài khoản đã được thay đổi mật khẩu! Vui lòng đăng nhập để thực hiện tiếp công việc nếu như bạn là chủ của tài khoản này.  @*@Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
    </p>
</div>
