
@{
    ViewBag.Title = "Quản Lý Lịch Sử Hệ Thống";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="head" id="ndContent">

    <!-- Modal Animation -->
    <div id="modalAnimDetail" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Chi Tiết Phiên Làm Việc</h2>
            </header>
            <div class="panel-body" style="padding:0">
                <div class="modal-wrapper">

                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-default modal-dismiss" onclick="ModalDismissDetail()" id="modal-dismiss">Thoát</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>

    <div class="clear">
    </div>
</div>

<div class="block-fluid">
    <div class="panel panel-visible">
        <div class="panel-heading br-b-n">
            <div class="panel-title hidden-xs">
                <span class="glyphicon glyphicon-tasks"></span> Danh sách lịch sử hệ thống
            </div>
        </div>

        <div class="panel-body pn">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row datatables-header form-inline">
                    <div class="col-sm-12 col-md-3">
                        <span>Đơn Vị : &nbsp;</span>
                        <select class="form-control" id="cmbDonViID" onchange="donvi_change(this)">
                            @try
                            {
                                @Html.Raw(ECP_V2.Business.Repository.DonViRepository.GetAllDonViHtml2(Session["DonViID"].ToString()))
                            }
                            catch { }
                        </select>
                    </div>

                    @*<div class="col-sm-12 col-md-4">
                        <span>Kiểu : &nbsp;</span>
                        <select class="form-control" id="cmbtype" onchange="type_change(this)">
                            <option value="">Chọn Kiểu</option>
                            <option value="Info">Info</option>
                            <option value="Error">Error</option>
                        </select>
                    </div>*@

                    <div class="col-sm-12 col-md-7">
                        <div class="input-group">
                            <span>Từ ngày: &nbsp;</span>
                            <input id="GioBd" type="text" placeholder="Thời gian bắt đầu">
                            <span>&nbsp; Đến ngày: &nbsp;</span>
                            <input id="GioKt" type="text" placeholder="Thời gian kết thúc">
                        </div>
                    </div>

                </div>
                <div class="row datatables-header form-inline">
                    <div class="col-sm-12 col-md-6">
                        @{ Html.RenderAction("GetDropDownListPageSize", "SystemConfig"); }
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div id="datatable-default_filter" class="dataTables_filter">
                            <label>
                                <input class="form-control" type="text" placeholder="Tìm kiếm..." id="txtSearch" onkeypress="txtSearch_onKeyPress(event,this)"
                                       onkeyup="txtSearch_onkeyup(event,this)" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="listRolesName list">
                    @{Html.RenderAction("List", "Log", new { page = 1, pageSize = (Session["drlPageSize"] != null) ? int.Parse(Session["drlPageSize"].ToString()) : 10, filter = "" });}
                </div>
            </div>

        </div>
    </div>
</div>

<style>

</style>

@section JavaScriptOnePgae{

    <script type="text/javascript">

        var IdDetail = 0;


        $(function () {


            //Menu Collapsed Layout
            $('html').addClass('sidebar-left-collapsed');


            var start = $("#GioBd").kendoDatePicker({
                format: 'dd/MM/yyyy',
            }).data("kendoDatePicker");

            var end = $("#GioKt").kendoDatePicker({
                format: 'dd/MM/yyyy',
                change: end_chage
            }).data("kendoDatePicker");



        });

        function end_chage() {
            Paging(1, 10, $("#txtSearch").val(), /*$('#cmbtype').val()*/ '', $('#GioBd').val(), $('#GioKt').val(), $('#cmbDonViID').val());
        }

        function donvi_change(el) {
            Paging(1, 10, $("#txtSearch").val(), /*$('#cmbtype').val()*/ '', $('#GioBd').val(), $('#GioKt').val(), el.value);
        }

        function type_change(el) {
            Paging(1, 10, $("#txtSearch").val(), el.value, $('#GioBd').val(), $('#GioKt').val(), $('#cmbDonViID').val());
        }

        function Paging(page, pageSize, filter, type, DateFrom, DateTo, DonViId) {
            loading('Đang tải dữ liệu...', 1);
            $("#preloader").unbind("click");
            $('#preloader').click(function () {
                unloading();
            })

            var scriptUrl = "/Admin/Log/List";
            $.ajax({
                url: scriptUrl,
                data: {
                    page: page,
                    pageSize: pageSize,
                    filter: filter,
                    type: type,
                    DateFrom: DateFrom,
                    DateTo: DateTo,
                    DonViId: DonViId
                },
                type: 'GET',
                dataType: 'html',
                async: false,
                success: function (data) {
                    $(".list").html("");
                    $(".list").html(data);

                    $("#drlPageSize").val(pageSize);
                    $("#txtSearch").val(filter);

                    unloading();
                }
            });
        }


        function pagelength_change(el) {
            Paging(1, el.value, $("#txtSearch").val(), /*$('#cmbtype').val()*/ '', $('#GioBd').val(), $('#GioKt').val(), $('#cmbDonViID').val());
        }

        function txtSearch_onKeyPress(e, el) {
            var key;
            if (window.event)
                key = window.event.keyCode;     //IE
            else
                key = e.which;     //firefox

            if (key == 13) {
                Paging(1, 10, el.value, /*$('#cmbtype').val()*/ '', $('#GioBd').val(), $('#GioKt').val(), $('#cmbDonViID').val());
            }
        }

        function txtSearch_onkeyup(e, el) {
            if (el.value == '')
                Paging(1, 10, el.value, /*$('#cmbtype').val()*/ '', $('#GioBd').val(), $('#GioKt').val(), $('#cmbDonViID').val());
        }

        function ModalDismissDetail() {
            $.magnificPopup.close();
        }

      
        function DetailPhienLv(PhienLvId) {

            loading('Đang tải dữ liệu...', 1);
            $("#preloader").unbind("click");
            $('#preloader').click(function () {
                unloading();
            })

            $.ajax({
                type: "GET",
                url: '/Admin/PhienLV/DetailPhienLv?Id=' + PhienLvId,
                success: function (json) {

                    $('#modalAnimDetail .modal-wrapper').html('');
                    $('#modalAnimDetail .modal-wrapper').html(json);

                    unloading();
                }
            });

        }


    </script>
}





