
@{
    ViewBag.Title = "Biên bản XTAT";
}


<div style="overflow:auto;border:1px solid #808080;background-color:white;text-align: center;padding-top:20px;padding-bottom:20px">
    <iframe style="width: 20cm; padding-top: 1.8cm; padding-left: 1.2cm; padding-bottom: 2cm; padding-right: -0.1cm; border: 1px solid #808080;" height="800" id="previewMauInIndexView" frameborder="0" ng-show="!isIE" scrolling="auto" src="http://at.npc.com.vn//DuyetBienBanXTAT/ExportBienBan"></iframe>
</div>