<div id="modal-anh-the" class="bootbox modal fade modal-darkorange in" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title title-popup-modal">Quản lý ảnh thẻ</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="font-size:40px; color:red; margin-top:-30px">×</button>
            </div>
            <div class="modal-body" style="min-height:500px">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <input type="hidden" id="hid-cthl-Id" value="0" />
                            <button type="button" id="btn-add-anh-the" class="btn btn-primary float-right" style="margin-right:15px; float:right"><i class="fa fa-plus-circle" style="margin-right:6px"></i>Thêm ảnh</button>
                            <input type="file" accept="image/*" id="fileInputImage" style="display:none" />
                        </div>
                        <div class="col-xs-12" id="list-AnhThe">
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>