@{
    Layout = null;
}

<link href="/Content/AdminPanel/assets/vendor/jquery-ui/css/jquery-ui-default.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Tên thiết bị</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Người, đơn vị QLVHTB</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Nhãn hiệu</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Nơi chế tạo</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Năm chế tạo</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Số chế tạo</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Số đăng ký</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Năm đưa vào sử dụng</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Tải trọng. áp lực thiết kế</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Tải trọng, áp lực cho phép làm việc</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Ngày tháng kiểm nghiệm gần nhất</label>
            <div class="col-md-9">
                <input id="dateNgayKD">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Ngày tháng kiểm nghiệm sắp tới </label>
            <div class="col-md-9">
                <input id="dateNgayKDST">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Đơn vị kiểm định</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Tình trạng hiện tại của thiết bị</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Hồ sơ thiết bị</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right:0" for="inputDefault">Ghi chú</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputDefault">
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {

        $("#dateNgayKD").kendoDatePicker({
            format: 'dd/MM/yyyy',
        }).data("kendoDatePicker");

        $("#dateNgayKDST").kendoDatePicker({
            format: 'dd/MM/yyyy',
        }).data("kendoDatePicker");
    });
</script>
