
@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<select class="chosen-select" id="lstDonvis" name="lstDonvis">
    <option value="">-- Chọn đơn vị --</option>
    <option value="17">Điện lực Ha Nam</option>
    <option value="9">ĐL An Dương</option>
    <option value="10">ĐL An Lão</option>
    <option value="14">ĐL Cát Hải</option>
    <option value="7">ĐL Dưong Kinh</option>
    <option value="8">ĐL Đồ Sơn</option>
    <option value="13">ĐL Hải An</option>
    <option value="1">ĐL Hồng Bàng</option>
    <option value="4">ĐL Kiến An</option>
    <option value="6">ĐL Kiến Thuỵ</option>
    <option value="2">ĐL Lê Chân</option>
    <option value="3">ĐL Ngô Quyền</option>
    <option value="11">ĐL Tiên Lãng</option>
    <option value="5">ĐL Thủy Nguyên</option>
    <option value="12">ĐL Vĩnh Bảo</option>
    <option value="16">TT Thí Nghiệm điện</option>
    <option value="15">XN QLLĐ Cao Thế</option>
</select>

